@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Development Team: @ViewData["Developers"]</p>

<address>
    <strong>More information at: </strong><a href="https://github.com/GaldinoMat">My GitHub</a>
</address>